

<nav class="navbar">

    <ul class="menu">
      <li class="menuName"><a class="menuLink" href="/">Home</a></li>
      <li class="menuName"><a class="menuLink" href="/showProducts">Products</a></li>
      <li class="menuName"><a class="menuLink" href="/addProduct">Add products</a></li>
      <li class="menuName"><a class="menuLink" href="/showShoppingCart">Shopping Cart</a></li>
      <li class="menuName"><a class="menuLink" href="/logout">Logout</a></li>
    </ul>
  </nav>