<h1>Welcome to our webshop </h1>

<div class="showProductsLink">
<a href="/showProducts">Products</a>
</div>

<div class="registerContainer">
<a href="/register">Register</a>
</div>

<div class="signInContainer">
<a href="/login">Sign in</a>
</div>