<form action="/addProduct" method="post">

    <input type="text" name="name" placeholder="product name" id="">
    <input type="text" name="description" placeholder="product description" id="">
    <input type="number" name="price" placeholder="product price" id="">
    
    <button type="submit">Add product</button>
    
    </form>