<h1>Hi from register page</h1>


<form method="post" action="/register">
    
<input type="text" name="username" placeholder="username" required minlength="4" id="username">
<input type="email" name="email" placeholder="email@email.com" required>
<input type="password" name="password" placeholder="****" required minlength="4" id="password">
<button type="submit">register</button>


</form>