<body>
   
    <form action="/reset" method="post">
    
    <input type="email" name="email" id="" class="resetInput" placeholder="Ange din email">
    
    <button type="submit" class="resetBtn">Send link</button>
    
    </form>
  
    </body>