<body>
   
    <form action="/resetForm" method="post">
    
    <input type="password" name="password" id="" class="resetInput" placeholder="Ange ditt nya lösenord">
    <input type="email" name="email" value="<%=email%>" hidden>
    
    <button type="submit" class="resetBtn">Reset password</button>
    
    </form>
    
    </body>